body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
    margin: 0;
    background-color: black;
    overflow: hidden;
    position: fixed;
    touch-action: none;
}

.game-container {
    position: relative;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#rulesText {
    position: absolute;
    top: -120px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-family: Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    width: 100%;
    max-width: 800px;
    white-space: normal;
    line-height: 1.5;
}

#restartText {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    color: red;
    font-family: Arial, sans-serif;
    font-size: 16px;
    display: none;
}

#democratsText {
    position: absolute;
    right: -300px;
    bottom: -10px;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 10px;
    font-weight: bold;
    text-align: left;
    max-width: 240px;
    white-space: pre-wrap;
    line-height: 1.5;
    display: block;
    z-index: 10;
}

#democratsText strong {
    text-decoration: underline;
}

#agenciesText {
    position: absolute;
    left: -240px;
    bottom: -10px;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 10px;
    font-weight: bold;
    text-align: right;
    max-width: 240px;
    white-space: pre-wrap;
    line-height: 1.2;
    display: block;
    z-index: 10;
}

#agenciesText strong {
    text-decoration: underline;
}

#gameCanvas {
    border: 2px solid white;
}

.score-text {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 20px;
}

#adText {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-family: Arial, sans-serif;
    font-size: 14px;
    text-align: center;
    z-index: 10;
}

#adText a {
    color: #00FFFF;
    text-decoration: underline;
}

#restartButton {
    position: absolute;
    bottom: -80px;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 60px;
    cursor: pointer;
    z-index: 10;
    display: none;
}

@media (min-width: 1024px) {
    #restartButton {
        display: none;
    }
}

@media (max-width: 850px) {
    #gameCanvas {
        width: 100vw;
        height: 100vh;
        max-width: 100%;
        max-height: 100%;
        object-fit: contain; /* Ensure the canvas fits within the viewport */
    }
    #rulesText {
        width: 90vw;
        font-size: 14px;
        top: -100px;
    }
    #democratsText {
        right: -150px;
        font-size: 8px;
    }
    #agenciesText {
        left: -150px;
        font-size: 8px;
    }
    #adText {
        bottom: 10px;
        font-size: 12px;
    }
    #restartButton {
        bottom: -60px;
    }
}
